amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
Django==2.2.1
django-celery==3.3.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
kombu==3.0.37
pkg-resources==0.0.0
PyJWT==1.7.1
pytz==2019.1
sqlparse==0.3.0
